:root{
    --darker_blue : #060612;
    --dark_blue : #282B4C;
    --dark_Grey :#463427;
    --white : #F3F3F4;
    --light_grey : #505167;
    --Red : #F80318;
    --lighter_blue : #A2A0AE;
    --blue :#5D6390;
    --blue_light :rgba(93, 99, 144,.8);
}
@font-face {
    font-family: pier_sans;
    src: url(../web-fonts/PierSans/PierSans-Light.otf);
   
}
@font-face {
    font-family: pier_sans_medium;
    src: url(../web-fonts/PierSans/PierSans-Medium.otf)
}
@font-face {
    font-family: pier_sans_bold;
    src: url(../web-fonts/PierSans/PierSans-Black.otf);
}
@font-face {
    font-family: Nexa;
    src: url(../web-fonts/Nexa/Nexa-Light.otf)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-weight: bold;
}
#page_overlay{
    background-image: radial-gradient(circle at 70% 18%, rgba(93, 99, 144,.6) 5%, rgba(6, 6, 18,.8) 70%) ;
}
#MainPage{
    background-image: radial-gradient(circle at 70% 18%, var(--blue) 5%, var(--darker_blue) 70%) ;
    color: var(--white);
    padding: 0px;
    font-family: pier_sans;
    margin: 0;
}
nav.navbar>a,.nav-link{
    color: var(--white);
}
.nav-link:hover,h6:hover{
    color: var(--white);
    padding: 0px, -12px;
    font-weight: bold;
    border-top: 2px solid var(--Red);
}
nav{
    border-bottom: 2px solid var(--darker_blue);
}
#movie_side{
    padding: 0;
    background-repeat: no-repeat;
}
.movie_title>h1{
    font-size: 40px;
    font-family: pier_sans_bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.poster>img{
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 4px grey;
}
.poster>img, .poster, .sidebar{
    border-radius: 16px 0px 16px 0px;
}
#page_overlay{
    display: flex;
    justify-content: space-around;
}
.sidebar, .poster{
    border: 2px solid var(--blue);
}
.sidebar{
    background-color: rgba(40, 43, 76, .4);
    --webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    padding: 0;
    height: auto;
}
hr{
    border-bottom: 1px solid white;
    width: 80%;
}
.related_movies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.movie_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0px;
}
.coming_soon{
    font-weight: bold;
    font-family: Nexa;
    border-radius: 8px;
    background-color: var(--light_grey);
    padding: 6px;
}
.movie_info{
    background-color: var(--blue_light);
    margin: 2% 0px 2% 0%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0px 30px 4px 0px;
}
.selections{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.selections>div{
    padding: 1%;
}
h6{
    text-transform: uppercase;
    font-weight: bold;
    font-family: pier_sans_medium;
    font-size: 14px;
}
.texter{
    font-size: 14px;
}
.warning{
    color: var(--Red);
    background-color: var(--white);
    padding: 4%;
    border-radius: 8px;
}
#cast_member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
#cast_members{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#cast_member>img{
    border-radius: 6px;
    width: 160px;
    height: auto;
    border: 2px solid var(--dark_blue);
    box-shadow: 4px 4px 8px var(--dark_blue);
}
#cast_member>img:hover{
    rotate: 1deg;
    width: 200px;
    z-index: 2;
    position: absolute;
}
.cast{
    box-sizing: content-box;
    width: 100%;
    height: auto;
}