{% extends 'user/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 col-sm-12 col-xs-12 align-items-center justify-content-bottom">

            <video id="my-video" class="video-js vjs-theme-sea" controls preload="auto" style="min-width:640px; width: 100%; min-height:264px"
                poster="{{object.movie.poster.url}}" data-setup="{}">
                <source src="{{object.trailer_item.url}}" type="video/mp4" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            <h5 class="mt-4">{{ object.trailer_title }}</h5>
            <div class="row">
                <div class="col-md-6 text-muted">
                    <p>Posted: {{ object.date_posted | date:"M d, Y" }}</p>
                </div>
                <div class="col-md-6 text-muted text-right">
                    <!-- Button trigger modal -->
                    <ion-icon class="video-icons" name="share-social-outline" type="button" data-toggle="modal"
                        data-target="#exampleModal">
                        Share
                    </ion-icon>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Share This Video!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <ion-icon class="social-share-icons twitter-social-color" name="logo-twitter"
                                        data-sharer="twitter"
                                        data-title="Checkout {{ object.title }} by {{ object.uploader }}!"
                                        data-hashtags="" data-url="http://localhost:8000/videos/{{ object.pk }}">Share
                                        on Twitter</ion-icon>
                                    <ion-icon class="social-share-icons facebook-social-color" name="logo-facebook"
                                        data-sharer="facebook"
                                        data-title="Checkout {{ object.title }} by {{ object.uploader }}!"
                                        data-hashtags="" data-url="http://localhost:8000/videos/{{ object.pk }}">Share
                                        on Facebook</ion-icon>
                                    <ion-icon class="social-share-icons reddit-social-color" name="logo-reddit"
                                        data-sharer="reddit"
                                        data-title="Checkout {{ object.title }} by {{ object.uploader }}!"
                                        data-hashtags="" data-url="http://localhost:8000/videos/{{ object.pk }}">Share
                                        on Reddit</ion-icon>
                                    <p class="mt-3">Link: http://localhost:8000/{{ object.pk }}/trailer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if object.uploader == user %}
                    <a class="video-icons icon-color" href="{% url 'video-update' object.pk %}">
                        <ion-icon name="pencil-outline"></ion-icon>
                        </ion-icon>
                    </a>
                    <a class="video-icons icon-color" href="{% url 'video-delete' object.pk %}">
                        <ion-icon name="close-outline"></ion-icon>
                    </a>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 d-flex flex-row align-items-center">
                    <a href=""><img src="" class="rounded-circle mr-4" height="65" width="65"></a>
                    <a class="video-uploader" href="">
                        <h5>{{ object.uploader }}</h5>
                    </a>
                </div>
            </div>
            <p class="ml-5 mt-3"> {{ object.trailer_description }}</p>
        </div>
    </div>
</div>

{%endblock%}